@CHARSET "ISO-8859-1";

body { font-size: 80%; color:#FFFAFA; background-color: #d7d7d7; font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif; }
ul#tabs { list-style-type: none; margin: 30px 0 0 0; padding: 0 0 0.3em 0; position: relative;}
ul#tabs:before { z-index: 1;  }
ul#tabs li { display: inline; position: relative; }
ul#tabs li a { color: #FFFAFA; background-color: #2E2E2E; border: 1px solid black; border-bottom: none; padding: 0.3em; text-decoration: none; }
ul#tabs li:before { left: -6px; border-bottom-right-radius: 6px; border-width: 0 1px 1px 0; }
ul#tabs li:after { position: absolute; bottom: -1px; width: 6px; height: 6px; content: " "; right: -6px; border-bottom-left-radius: 6px; border-width: 0 0 1px 1px;}
ul#tabs li a:hover { background-color: #a7a7a7; }
ul#tabs li.selected { color: #F5f5DC; background-color: #2E2E2E; font-weight: bold; padding: 0.7em 0.3em 0.38em 0.3em; z-index: 3;}
div.tabContent { border: 1px solid black; padding: 0.5em;  background-color: #2E2E2E; }
div.tabContent.hide { display: none; }

ul#tabs{
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;}
ul#tabs li {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
ul#tabs li  a{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
#banner li {
        list-style: none;
        display: block;
        float: left;
        margin: 0px;
}
/* this sets the format of the text tabs */
#banner li a {
        text-shadow: 0 2px 1px rgba(0,0,0,0.5);
        display: block;
        text-decoration: none;
        color: #f0f0f0;
        font-size: 1.5em;
        margin: 20px;
}
/* sets the offset of the hover effect */
#banner li a:hover {
        margin-top: 22px;
		
}
/* sets the width of the container that holds the tab form*/
#navigation_container {
margin: 0 auto;
width: 1080px;
}
/* controls the formatting of the shaded bar behind the tabs */
.rectangle {
   background: gray;
   height: 80px;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   z-index: 500; /* the stack order: foreground */
   margin: 2em 0;
}
