@CHARSET "ISO-8859-1";

body {
	width:100%;
	margin:75px 0px; padding:0px;
	text-align:center;
    background-image: url("http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg");
    
}
	
#top{
	width:900px;
	margin:0px auto;
	
	margin-top:-80px;
	
	background-color:gray;
	border-right-style:solid;
	border-left-style:solid;
	border-color:black;
	border-width: 40px;
	}
	
#padding {
	width:900px;
	margin:0px auto;
	height:100px;
	
	background-color:gray;
	border-right-style:solid;
	border-left-style:solid;
	border-color:black;
	border-width: 40px;
	}
	
#padding2 {
	width:900px;
	margin:0px auto;
	height:300px;
	margin-top:-50px;
	margin-bottom:-50px;
	background-color:gray;
	border-right-style:solid;
	border-left-style:solid;
	border-color:black;
	border-width: 40px;
	}
	

#bio{
	font-size:16px;
	font-style: 'Lucida Grande';
	
	}

	
	
	
#nav { 
    margin-top:-200px;
    margin:0px auto;
    
    width: 900px; 
	font-size:30px;
 } 
 
 #table{
	
	margin:0px auto;
	font-size:20px;
	margin-bottom:40px;
	
	}
	
	
#artistPicture { 
   
   text-align:right;
    
    
}


body { font-size: 80%; color:#FFFAFA; font-family: 'Lucida Grande', Verdana, Arial, Sans-Serif; }

#banner{
		width:1000px;
 left:21.5%;
 margin-left:-50px;
 position:absolute;
}
#banner li {
        list-style: none;
        display: block;
        float: left;
        margin: 0px;
		text-align:center;
		margin-right:93px;
}

#pic{
		margin:-50px;
	}
/* this sets the format of the text tabs */
#banner li a {
        text-shadow: 0 2px 1px rgba(0,0,0,0.5);
        display: block;
        text-decoration: none;
        color: #f0f0f0;
        font-size: 1.5em;
        margin: 20px;
		
}
/* sets the offset of the hover effect */

/* sets the width of the container that holds the tab form*/
#navigation_container {
margin: 0 auto;
width: 100%;

}
/* controls the formatting of the shaded bar behind the tabs */
.rectangle {
	width:100%;
   background: gray;
   height: 80px;
   position: relative;
   -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   z-index: 500; /* the stack order: foreground */
   margin: 0em 0;
}
